@model IEnumerable<PersonResponse>

@{
    Layout = null;
}
    <h1>Persons</h1>

    <table class="table w-85 mt">
        <thead class="fixed">
        <tr>
            <td style="width:15%">Name</td>
            <td style="width:20%">Email</td>
            <td style="width:13%">Date of Birth</td>
            <td style="width:9%">Age</td>
            <td style="width:10%">Gender</td>
            <td style="width:15%">Address</td>
            <td style="width:15%">NIN</td>
            <td style="width:10%">Country</td>
            <td style="width:20%">RecieveNewsLetter</td>
            <th style="width:20%">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PersonResponse person in Model)
            {
                <tr>
                    <td style="width:15%">@person.PersonName</td>
                    <td style="width:20%">@person.Email</td>
                    <td style="width:13%">@person.DOB?.ToString("dd-MMM-yyyy")</td>
                    <td style="width:9%">@person.Age</td>
                    <td style="width:10%">@person.Gender</td>
                    <td style="width:15%">@person.Address</td>
                    <td style="width:15%">@person.NIN</td>
                    <td style="width:10%">@person.Country</td>
                    <td style="width:20%">@person.RecieveNewsLetter</td>
                    <td style="width:30%">
                        <a asp-controller="Persons" asp-action="Edit" asp-route-personID="@person.PersonID">Edit</a>
                        <a asp-controller="Persons" asp-action="Delete" asp-route-personID="@person.PersonID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>